@model MvcCoffee.Models.Coffee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Coffee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grounds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grounds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Roast)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Roast)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
